<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>ajax1</title>
  </head>

  <body>
    <h1>[ ajax 테스트 ]</h1>

    <p><a href="javascript:test1()">서버로 요청 보내기</a></p>
    <p><a href="javascript:test2()">서버로 요청 보내서 텍스트 형태 응답 받기</a></p>
    <p><a href="javascript:test3()">서버로 값 보내기</a></p>
    <p><a href="javascript:test4()">서버로 값 보내서 계산하고 계산결과 받아오기</a></p>
    <p>
      <input type="text" id="num1">
      +
      <input type="text" id="num2">
      =
      <input type="text" id="num3">
    </p>
    <p><a href="javascript:test5()">서버로 값 보내서 계산하고 계산결과 받아오기 2</a></p>
    <p>
      <input type="text" id="num4">
      /
      <input type="text" id="num5">
      =
      <input type="text" id="num6">
    </p>
    <p>계산기</p>
    <p>
      <input type="text" id="num7">
      <select id="op">
        <option value="">연산자 선택</option>
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
      <input type="text" id="num8">
      <button id="button">=</button>
      <input type="text" id="num9">
    </p>

  </body>
  <script>
    /*
      ajax방식의 요청을 브라우저 표준API인 fetch를 사용하여 구현해 봅시다^^

      fetch API : URL과 옵션들 을 인자로 받아 Promise 객체를 반환한다.

      fetch('URL')
        .then(response=>{
          // 응답이 성공적으로 도착했는지 확인 (200 OK 등)
          if(!response.ok){   // 응답코드 200여부 확인
            // 200 아닐때 처리
            throw new Error('response Not OK');
          }
          return response.json(); // 성공200 확인후 처리
        })
        // 이전 then에서 return된 값은 promise에 저장됨 다음then에서 꺼내 쓸 수 있음
        .then(data => {
          console.log(data);
        })
        .catch(error=>{
          console.error('FetchError', error);   //에러 처리
        });
    */
    // test1() : GET 요청 (요청에 대해 돌아오는 데이터 없음, 상태코드만 꺼내서 봄)
    function test1() {
      alert('test1() 함수 실행');

      // 서버에 요청보내기
      fetch('ajaxtest1')
        .then(response => {
          if (!response.ok) throw response;
          alert('실행 성공!');
        })
        .catch(e => {
          alert('실행실패');
          alert(e.status);
          alert(e.statusText);
          // 자바에서 예외 메세지는 보내졌을 수 있지만 JS가 그 메세지를 읽지 못함
          // 예외에 대한 메세지를 꺼내려면 예외를 HTTP응답 바디로 바꾸는 과정이 필요함
        })
        ;
    }

    // test2() : GET요청 보내고 text응답 받기
    function test2() {
      fetch('ajaxtest2')
        .then(response => {       // 첫 번재 then : 서버 응답 도착, 본문은 아직 안읽은 상태
          if (!response.ok) throw response;
          return response.text(); // 본문 읽음
        })      // 또 다른 promise 반환됨 직전에 리턴된 값은 promise 에 들어있음
        .then(msg => {    // 두 번째 then : 본문 읽기가 끝나면 실행됨
          alert(msg);
          throw new Error('강제로 던진 에러');   // 강제로 던짐
        })
        // promise 가 resolve 될 때마다 한 단계씩 이어붙이는 구조

        // Promise 체인 중간 어느 then 에서든 예외가 발생하거나 throw되면 그 이후의 모든 then을 건너뛰고 가장 가까운 catch로 이동한다.
        .catch(e => {
          alert('강제로 catch로 던짐');
          alert(e)
        })
        ;
    }

    // test3() : POST 요청 보내기 (form데이터 형태로 값 보내기)
    function test3() {
      fetch('ajaxtest3', {
        method: 'POST'  // 전송방식 지정
        // 헤더: 서버가 requestBody를 해석할 때 필요한 정보 제공
        , headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        }
        // URLSearchParams는 key-value 데이터를 쿼리스트링 형태로 변환해주는 객체
        , body: new URLSearchParams({ str: '클라이언트에서 보낸 값' })
      })
        .then(response => response.text())
        .then(result => {
          alert(result);
        });
    }

    // test4() : POST로 값 두개 보내고 계산결과는 text로 반환받아오기
    function test4() {
      const data = new URLSearchParams({
        num1: document.querySelector('#num1').value
        , num2: document.querySelector('#num2').value
      });

      fetch('ajaxtest4', {
        method: 'POST'
        , headers: {
          'Content-type': 'application/x-www-form-urlencoded'
        }
        , body: data
      })
        .then(response => {
          if (!response.ok) throw response;
          return response.text();
        })
        .then(result => {
          document.querySelector('#num3').value = result;
        })
        .catch(() => {
          alert('계산실패');
        });

    }

    function test5() {
      const data = new URLSearchParams({
        num4: document.querySelector('#num4').value
        , num5: document.querySelector('#num5').value
      });

      fetch('ajaxtest5', {
        method: 'POST'
        , headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        }
        , body: data
      })
        .then(response => {
          if (!response.ok) throw response;
          return response.text();
        })
        .then(result => {
          document.querySelector('#num6').value = result;
        })
        .catch(response => {
          response.text().then(text => {
            alert(text);
          });
        });
      ;
    }

    function test6() {
      const data = new URLSearchParams({
        num7: document.querySelector('#num7').value
        , op: document.querySelector('#op').value
        , num8: document.querySelector('#num8').value
      });

      fetch('ajaxtest6', {
        method: 'POST'
        , headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        }
        , body: data
      })
        .then(response => {
          if (!response.ok) throw response;
          return response.text();
        })
        .then(result => {
          document.querySelector('#num9').value = result;
        })
        .catch(response => {
          response.text().then(text => {
            alert(text);
          });
        });
      ;
    }

    document.querySelector('#button').addEventListener('click', test6);
  </script>

</html>