<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>

  <body>
    <h1>[ ID 중복확인 기능 포함한 가입창 ]</h1>

    <form>
      ID<input type="text" id="memberid">
      <span id="msg"></span>
      이름<input type="text" id="name" required>
      <button type="submit" id="submitButton" disabled>가입</button>
    </form>
  </body>
  <script>
    const memberIdInput = document.getElementById('memberid');
    const msgSpan = document.getElementById('msg');
    const submitButton = document.getElementById('submitButton');

    // 키보드 입력마다 검사
    memberIdInput.addEventListener('keyup', duplicateCheck);
    // 검사동작 함수
    function duplicateCheck() {
      // 길이체크(최소한의 유효성검사)
      const id = memberIdInput.value.trim();
      if (id.length < 3 || id.length > 10) { // 유효하지 않은 id 조건
        msgSpan.style.color = 'red';
        msgSpan.textContent = 'ID는 3~10글자로 입력하세요';
        submitButton.disabled = true;
        return;
      }
      // 중복검사
      fetch('idDuplicate', {
        method: 'POST'
        , headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
        , body: new URLSearchParams({ id })
      })
        .then(res => res.json())  // 서버에서 boolean 반환 가정
        .then(isDuplicate => {
          if (isDuplicate) {
            // 이미 사용중인 ID입니다.
            msgSpan.style.color = 'red';
            msgSpan.textContent = '이미 사용중인 ID입니다.';
            submitButton.disabled = true;
          } else {
            // 사용가능한 아이디입니다.
            msgSpan.style.color = 'blue';
            msgSpan.textContent = '사용가능한 아이디입니다';
            submitButton.disabled = false;
          }
        })
        .catch(()=>alert('error'))
        ;
    }  // 검사함수 끝
  </script>

</html>